<!-- app/views/boards/index.html.erb -->
<h1>掲示板の投稿一覧</h1>

<%= link_to '新規掲示板の作成', new_board_path, class: 'btn btn-primary' %>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>作成者</th>
      <th>作成日時</th>
      <th>更新日時</th>
      <th>詳細</th>
    </tr>
  </thead>
  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td><%= board.title %></td>
        <td><%= board.author %></td>
        <td><%= l(board.created_at, format: :default) %></td>
        <td><%= l(board.updated_at, format: :default) %></td>
        <td><%= link_to '詳細', board_path(board) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
